.card_element_about{ 
	color: var(--about_color);
	background-color: var(--about_color_back);
}

.card_element_about .underlined{
	color: var(--about_color);
}

.card_element_about strong{
	font-weight: bold;
}

.card_element_about .colored{
	color: var(--about_color);
}

.university{
	align-self: center;
}

@media only screen and (max-width:850px) {
    .card_row{
        flex-direction: column !important;
	}

	.card_element{
		justify-content: center;
	}

	.title{
		text-align: center;
		align-self: center !important;
	}
}

@media only screen and (max-width:850px) {
	.university{
		text-align: center;
	}
}

.Years{
	text-align: center;
	display: flex;
	justify-content: center;
	margin: calc(var(--margin)/2);
	align-self: center;
	min-width:90px;
	background-color: var(--about_color);
	color: white;
	border-radius: calc(var(--border-radius)/2);
	padding: var(--padding);
	font-weight: bold;
}

.title_about::before{
	background-color: var(--about_color);
}

.card_element_row{
	display:flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
}

.card_element_component{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:200px;
	margin: var(--margin);
}

.info_holder{
	white-space: nowrap;
	margin: var(--margin) var(--margin) 0 var(--margin);
	font-size: var(--font-size_l);
}

.card_element_fullwidth{
	width:100%;
}
